master:
{% if ec2 is defined %}
  hosts:
    master0.{{ project.name }}.{{ project.dns_zone }}:
  vars:
    ansible_connection: ssh
    ansible_user: {{ aws.ec2.ssh_user }}
    ansible_ssh_private_key_file: {{ aws.ec2.key_file }}
{% endif %}
